body {
    background-image: url('assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  p {
    color: #decfe2;
  }

  h1 {
    color: #decfe2;
    font-family: 'Lobster', cursive;
    font-size: 100px;
  }
  
  h2 {
    color: #decfe2;
  }

  h3 {
    color: #9e79a8;
  }

  h4 {
    color: #decfe2;
  }